.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin-top: 2rem;
  border-style: groove;
  border-color: #576cbc;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 1.5rem 1rem;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.searchBox h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Verdana, sans-serif;
}

.inputContainer {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.inputContainer input {
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 1.5rem;
  width: 20rem;
}

.searchButton {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.paste_button {
  display: inline-block;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.paste_button:hover {
  opacity: 0.7;
}

.summary_button {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #E90064;
  cursor: pointer;
  border-radius: 4px;
  border-width: 3px;
  height: 2.5rem;
  width: 2.5rem;
  transition: opacity 0.3s ease;
}

.summary_logo {
  /* color: #be5a83; */
  /* margin-top: 5px; */
  margin-left: 10px;
}
.summary_button:hover {
  opacity: 0.7;
}

.input {
  padding: 8px;
  border: 1px solid #576cbc;
  border-radius: 4px;
  width: 20rem;
  height: 1.5rem;
}

.emphasize {
  color: #576cbc;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration-line: underline;
}
