.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin-top : 2rem;
}

.searchBox h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Verdana, sans-serif;
}



.inputContainer {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.inputContainer input {
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 1.5rem;
  width: 20rem;

}


.searchButton {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
}
