.item_container{
  display: flex;
  justify-content: space-between;
}
.article_list_item {
  display: flex;
  height: 100%;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.article_list_item_img {
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.article_list_item_text p {
  font-size: 1rem;
  color: #27374D;
  margin: 0;
}

.article_list_item:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-color: black;
}

.article_list_item:hover .article_list_item_img {
  transform: scale(1.05);
}
