.article_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.article_list_item_img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.article_list_item_text p {
  font-size: 1rem;
  color: #DBDFEA;
  margin: 0;
}

.article_list_item:hover {
  background-color: #2C4375;
  cursor: pointer;
  border-radius: 10px;
}
