.article_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.article_list_item_img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.article_list_item_text h3 {
  font-size: 1.0rem;
  color : #4F4557;
  margin: 0;
}

