:root {
  --max-width: 1000px;
  --border-radius: 12px;
  --font-mono: "Noto Sans KR", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html,
body {
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}
main {
  flex: 1;
  padding: 20px;
}
body {
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
