.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  border-radius: 10px;
  padding: 0 1rem;
  margin: 1rem;
  background-color: #6C9BCF;
  color: #fff;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}
.ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
