.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #ffffff; /* 배경색 설정 */
  border-bottom: 1px solid #e0e0e0; /* 구분선 추가 */
}

.menuContainer {
  display: flex;
  margin: 0 1rem;
  gap: 1rem;
}

.menu {
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-mono);
}
