.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 1rem;
  margin: 1rem;
  border-style: groove;
  border-color: #576cbc;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}
.ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.logo {
  padding-top: 5px;
}
.title {
  margin-left: 10px;
  margin-top: 6px;
  text-decoration: underline;
  text-decoration-color: #576cbc;
  text-decoration-thickness: 3px;
  transition: transform 0.3s ease;
}
.title:hover {
  transform: scale(1.03);
}

.title_container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.arrowIcon {
  margin-top: 15px;
  transition: transform 0.3s ease;
}
.arrowIcon:hover {
  transform: translateX(5px);
}

.title_main_container {
  display: flex;
  display: flex;
  justify-content: space-between;
}
