.realtimeSearch {
  font-family: var(--font-mono);
}

.realtimeSearch h1 {
  /* font-size: 1.5rem; */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.realtimeSearch ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.realtimeSearch li {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem;
}

.realtimeSearch li:hover {
  background-color: #eee;
  cursor: pointer;
}
