.keywordTagContainer {
  padding: 0 1rem;
}
.keyword {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: var(--font-mono);
  color: #27374d;
}

.keywordList {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding: 0;

  gap: 1rem;
}

.keywordItem {
  font-size: 1.5rem;
  font-weight: 900;
}

.keyword:hover {
  text-decoration: underline;
}

.focused {
  color: #537188;
  text-decoration: underline;
  text-decoration-color: #576cbc;
  text-decoration-thickness: 3px
}
.divide {
  margin-right: 0.6rem;
  color: #025464;
}
.textMute {
  color: #6c757d;
  font-size: 0.8rem;
  font-weight: 400;
  margin-right: 0.6rem;
  margin-bottom: 0;
}
